:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 62, 54, 46; /* #3E362E */
  --background-start-rgb: 134, 93, 54; /* #865D36 */
  --background-end-rgb: 147, 120, 91; /* #93785B */

  --text-color-primary: #ffffff; /* White text color */
  --text-color-secondary: #f89090; /* Pink text color for shadows or accents */

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #865d3633 0deg,
    #93785b33 55deg,
    #ac896833 120deg,
    #a6908033 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(147, 120, 91, 1),
    /* #93785B */ rgba(147, 120, 91, 0)
  );

  --tile-start-rgb: 172, 137, 104; /* #AC8968 */
  --tile-end-rgb: 166, 144, 128; /* #A69080 */
  --tile-border: conic-gradient(
    #3e362e80,
    /* #3E362E */ #865d3640,
    /* #865D36 */ #93785b30,
    /* #93785B */ #ac896820,
    /* #AC8968 */ #a6908010,
    /* #A69080 */ #a6908010,
    /* #A69080 */ #3e362e80 /* #3E362E */
  );

  --callout-rgb: 166, 144, 128; /* #A69080 */
  --callout-border-rgb: 134, 93, 54; /* #865D36 */
  --card-rgb: 147, 120, 91; /* #93785B */
  --card-border-rgb: 134, 93, 54; /* #865D36 */
}
html,
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #2f4454, #2e151b);
  color: var(--text-color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 62, 54, 46; /* #3E362E */
    --background-end-rgb: 62, 54, 46; /* #3E362E */

    --primary-glow: radial-gradient(
      rgba(134, 93, 54, 0.4),
      rgba(134, 93, 54, 0)
    );
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(134, 93, 54, 0),
      rgba(134, 93, 54, 0),
      rgba(134, 93, 54, 0.3)
    );

    --tile-start-rgb: 62, 54, 46; /* #3E362E */
    --tile-end-rgb: 62, 54, 46; /* #3E362E */
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 62, 54, 46; /* #3E362E */
    --callout-border-rgb: 134, 93, 54; /* #865D36 */
    --card-rgb: 147, 120, 91; /* #93785B */
    --card-border-rgb: 134, 93, 54; /* #865D36 */
  }
}
